.container{
    margin: 50px auto;
    width: 85vw;
    height: 90vh;
    background-color: #dbd8e3;
    box-shadow: 5px 5px 18px gray;
}
h1{
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.box>div{
    background-color: #c3b8e3;
    width: 350px;
    height: 60px;
    border: 2px solid gray;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    margin: 5px 10px;
}
.box a{
    font-size: 18px;
}